header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    width: max-content;
}

header nav a{
    transition: .3s ease-in-out;
}

header nav a:hover{
    color: var(--mainGreenColor);
}

header nav .anim-btn-outer{
    width: 46px;
}

.anim-btn-outer.active span{
    left: 24px;
}

header nav .display-theme-ico{
    height: 100%;
    position: relative;
}

header nav .display-theme-ico svg{
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}